body {
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#array {
  /* background-color: blue; */
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

#array div {
  /* display: grid; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  
  padding: 5px;
  margin: 10px auto;
  width: 20rem;
  height: 25rem;
  border-radius: 15px 0 15px 0;
}

.list-item{
  background-size: cover;
  position: relative;
}
.link-item {
  text-decoration: none;
  font-size: 1.1rem;
  padding: .3rem;
  border-radius: 50px;
  border-radius: 50px;
  background: #999;
  box-shadow: inset 3px 10px 20px #222,
              inset -10px -10px 20px #fff;
  color: #222 ;
  font-weight: 600;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: all .15s ease-in;
}
/* .link-item-code {
  text-decoration: none;
  font-size: 1.1rem;
  padding: .3rem;
  border-radius: 50px;
  border-radius: 50px;
  background: #fff;
  box-shadow: inset 3px 10px 20px #222,
              inset -10px -10px 20px #fff;
  color: #222 ;
  font-weight: 600;
  position: absolute;
  top: 10rem;
  left: 30%;
  transition: all .15s ease-in;
} */
.link-item:hover {
  box-shadow: inset -3px -10px 20px #222,
              inset 10px 10px 20px #fff;
}

@media (min-width: 600px) {
  #array { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  #array { grid-template-columns: repeat(3, 1fr); }
}

