body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FAF8FF;
}
.container{
  text-align: center;
}
.progress-container{
  width: 600px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.progress-bar-back{
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #E3E0F3;
  border: none;
  z-index: -1;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}
.progress-bar-front{
  position: absolute;
  height: 4px;
  width: 0%;
  background-color: #8685EF;
  border: none;
  z-index: -1;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: .4s linear width;
}
.step{
  width: 35px;
  height: 35px;
  background-color: #FFF5FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #C6C0F8;
  color: #8685EF;
}
.step.checked{
  background-color: #8685EF;
  color: #E3E0F3;
  transition: all .4s linear;
  transition-delay: .3s;
}
.step.checked small{
  position: absolute;
  bottom: -20px;
  color: #8685EF;
}
.btn{
  background-color: #8685EF;
  border: none;
  color: #FAF8FF;
  padding: 10px 20px;
  margin: 70px 10px 0;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}
.btn:hover{
  opacity: .9;
}
.btn:active{
  transform: scale(.95);
}
.btn:disabled{
  background-color: #8685EF50;
}
@media(max-width:600px){
  .progress-container{
    width: 90vw;
  }
}