body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  background: linear-gradient(#000000,#737576);
}
.statis-container{
  position: relative;
  margin: 20px;
  padding: 35px;
  border: dotted #FEFEDF50;
  min-width: 200px;
  height: 100px;
}
.statis-container h4{
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  letter-spacing: 4px;
  color: #f6f6e1;
}
.icon{
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  color: #f6f6f6;
}
.counter{
  position: absolute;
  font-size: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #0cf076;
}


@media (max-width:600px){
  body{
    flex-direction: column;
  }
}